/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- Styling ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  color: #222;
}

.diff-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-variant: small-caps;
}

.gameGrid {
  border: 1px solid #222;
  margin: 5rem 0;
}

.gridRow {
  display: flex;
  flex-direction: row;
}

.gridRow .cell {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

.cell:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05)
}


.gridRow:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05)
}

.cell.blank, .cell.mine {
  background: lightgray;
}

.cell.mine {
  background-image: url('./assets/icons/bug.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.cell:not(.mine, .blank):hover {
  background: rgba(0, 0, 0, 0.2)
}

.diff-btn {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  background-color: white;
  border: 1px solid #222;
  box-shadow: 2px 2px #222;
}

.diff-btn:hover {
  color: white;
  background: #222;
}

.game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#custom-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#custom-form div {
  position: relative;
}

.or-divider {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
}

.or-divider::before {
  content: 'OR';
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

#custom-form div label {
  font-size: 1.5rem;
  position: absolute;
  left: 5%;
  top: -0.8rem;
  background: white;
}

#custom-form div input {
  width: 100%;
  height: 5rem;
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
}

.diff-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    height: 100vh;
  }

  .game-options {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
  }
}
